# The contents of this file is based on https://github.com/home-assistant/core/blob/dev/pyproject.toml

target-version = "py313"

[lint]
select = [
    "ALL",
]

ignore = [
    "ANN401", # Dynamically typed expressions (typing.Any) are disallowed
    "D203", # no-blank-line-before-class (incompatible with formatter)
    "D212", # multi-line-summary-first-line (incompatible with formatter)
    "COM812", # incompatible with formatter
    "ISC001", # incompatible with formatter
]

[lint.per-file-ignores]
"tests/**/*.py" = [
    "S101",    # assert allowed in tests
    "SLF001",  # Private member access allowed in tests
    "PLR2004", # Magic values allowed in tests
    "PLC0415", # Imports not at top-level allowed in tests
    "PERF401", # List comprehension not required in tests
    "D",       # Docstring rules relaxed in tests
    "ANN",     # Annotation rules relaxed in tests
    "E501",    # Line length relaxed in tests (JSON data)
    "ARG",     # Unused arguments allowed in tests (mocks)
]

[lint.flake8-pytest-style]
fixture-parentheses = false

[lint.pyupgrade]
keep-runtime-typing = true

[lint.mccabe]
max-complexity = 25
